<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de Estación Automática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <div id="sidebar"></div> <!-- Aquí se cargará dinámicamente el menú -->
    <div id="content">
        <h1>Configuración de Estación Manual</h1>
        <label for="letra">Id de Estacion:</label>
        <input type="text" id="letra" name="letra" required readonly><br>
        <label for="nombreE">Nombre de Estacion:</label>
        <input type="text" id="nombreE" name="nombreE" required readonly><br>
        <form id="configForm">
            <div class="section">
                <h2>Parámetros de Lectura</h2>
                <label for="n">Nro de veces que se repetira cada toma (n):</label>
                <input type="number" id="n" name="n" required><br>
                <label for="m">Duración de cada toma de lectura (segundos):</label>
                <input type="number" id="m" name="m" required><br>
                <button type="button" onclick="startReading()">Comenzar a tomar lecturas</button>
            </div>
            <div class="section">
                <h2>Procesamiento de Archivos</h2>
                <label for="num_archivos">Número de archivos a procesar:</label>
                <input type="number" id="num_archivos" name="num_archivos" required><br>
                <button type="button" onclick="executeScript()">Crear XML</button>
            </div>
            <h2>Enviar Datos al Servidor</h2>
            <div class="section2">
                <div class="column-1">
                    <h3>Archivos XML Listos</h3>
                    <ul id="file-list" class="styled-list">
                        <!-- Los archivos creados se agregarán dinámicamente aquí -->
                    </ul>
                </div>
                <div class="column-2">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <button type="button" onclick="prepararXML()">Preparar XML</button>
                        <button type="button" onclick="subirXML()">Subir XML</button>
                        <button type="button" onclick="direccionarXML()">Direccionar XML</button>
                        <button type="button" onclick="procesarXML()">Procesar XML</button>
                    </div>
                    <textarea id="comando" class="output-comando" readonly></textarea>
                    <textarea id="resultado" class="output-resultado" readonly></textarea>
                    <textarea id="comando2" class="output-comando" readonly></textarea>
                    <textarea id="resultado2" class="output-resultado" readonly></textarea>
                    <button type="button" onclick="limpiar_areas()">Limpiar</button>
                </div>
                <div class="column-3">
                    <h3>Archivos XML en el servidor</h3>
                    <ul id="file-list-serv" class="styled-list">
                        <!-- Los archivos creados se agregarán dinámicamente aquí -->
                    </ul>
                </div>
            </div>

        </form>
        <pre id="output"></pre>
    </div>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/funciones.js') }}"></script>
</body>
</html>
